PORT=8080
RANKING_API_URL=https://ranking.cubingclub.com/api/v1
PAYMENT_API_URL=https://payment.cubingclub.com/api/v1
SSO_URL=http://localhost:8081
LOGIN_URL=http://localhost:8081/login

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=cck_groups
